body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1b21;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background-color: #fff7f8;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }

  .card img {
    width: 200px;
    height: 300px;
    border-radius: 15%;
    margin-bottom: 10px;
  }

  .card h2 {
    margin: 5px 0;
  }

  .card p {
    margin: 5px 0;
    color: #666;
  }